.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
}

.card.service {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.service__icon {
    background: var(--color-primary);
    padding: 0.6rem;
    border-radius: var(--border-radius-3);
    font-size: 1.5rem;
    color: var(--color-accent);
    transition: var(--transition);
}

.card.service:hover {
    background: #465362;
}

.service-tag {
    color: var(--color-primary);
}

.service:hover .service__icon {
    background: var(--color-light);
    color: var(--color-accent);
}

.card.service:hover h4 {
    color: white;
}

.service h4 {
    margin-bottom: 0.7rem;
    color: var(--color-text);
}

.card.service:hover p {
    color: var(--color-accent);
}

@media screen and (max-width: 1024px) {
    .services__container {
        gap: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .card.service {
        gap: 1.2rem;
    }
}