nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 1rem 1.5rem var(--primary-hue);
    transition: var(--transition);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 2.5rem;
    background-color: var(--color-primary);
}

.nav-menu {
    display: flex;
    gap: 3.5rem;
}

.theme-icon {
    background-color: var(--color-primary);
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

a:hover {
    color: var(--color-hover)
}

.moon {
    color: var(--color-accent);
    background-color: var(--color-primary);
    width: 3vw;
    height: 3vh;
}

.logo{
    width: 5vw;
    height: 3vh;
    color: var(--color-accent)
}

@media screen and (max-width: 1024px){
    .nav-menu {
        display: none;
    }
}